.partForm {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.addParticipant {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.toggleButton {
  background: transparent;
  border: 0;
  bottom: 0;
  padding: 0 12px;
  position: absolute;
  right: 0;
  top: 0;
}

.emailExample {
  color: #333;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.18175rem;
  font-style: normal;
}

.required {
  color: #fe414d;
}
